In [1]:
print(bin(5))

0b101

In [2]:
print(int("0b101",2))

5

In [3]:
a,b,c=1,2,3

In [4]:
print(a)

1

In [5]:
print(b)

2

In [6]:

print(c)

3

In [7]:
# 3+4 is an expression but a=3+4 compelete is statement

In [8]:
a=3+4
add=print(a)

7

In [9]:
#augemnet ass operator

In [10]:
a=2
a+=3
print(a)

5

In [11]:
# differnt type to assign string                                                                                           *****

In [12]:
long_string='''

wow
www
www
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
wfffffffffffffffffffffffffffffffff
cvvvvvvvvvvvvvvvvvvvvvvvvvv
bbbbbbbbbbbbbbbbbbbbbbbbbb
nnnnnnnnnnnnnnnnnn
'''

In [13]:
print(long_string)

wow
www
www
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
wfffffffffffffffffffffffffffffffff
cvvvvvvvvvvvvvvvvvvvvvvvvvv
bbbbbbbbbbbbbbbbbbbbbbbbbb
nnnnnnnnnnnnnnnnnn

In [14]:
first_name="prashil"
last_name="ramteke"
full_name=(first_name+" "+last_name)

In [15]:
print(full_name)

prashil ramteke

In [16]:
first_name="prashil"
last_name=" ramteke"
full_name=(first_name+last_name)

In [17]:
print(full_name)

prashil ramteke

In [18]:
# string concatenation

In [19]:
print("ice"+"-cream")

ice-cream

In [20]:
print(str(100))

100

In [21]:
print(type(str(100)))

<class 'str'>

In [22]:
print(type(int(str(100))))

<class 'int'>

In [23]:
# if we want to put string in inverted commas put backslah in front f it                                                   *****

In [24]:
print(weather)

NameError: name 'weather' is not defined

In [2]:
weather=("it's \"kind of\" \"raj where are u\" ")

In [3]:
print(weather)

it's "kind of" "raj where are u"

In [26]:
# earlier data typ error was coming coz age was in int and all others are in str so we used str before age              *****

In [27]:
name="johnny"
age=55
print("hi "+name +" you are "+str(age)+" years old")

hi johnny you are 55 years old

In [28]:
#update in python 3 is formatted strings 
# we use *f* before string and variables in curly braces{} and no to worry abt writing + like we does in previous          *****

In [29]:
name="johnny"
age=55
print(f "hi {name} you are {age} years old")

SyntaxError: invalid syntax (<ipython-input-29-ba30e1f950ec>, line 3)

In [ ]:
name="johnny"
age=55
print(f"hi {name} you are {age} years old")

In [30]:
# same like previous1 we can use formatted string like this as well

In [31]:
name="johnny"
age=55
print("hi {} you are {} years old".format("johnnyy",55))

hi johnnyy you are 55 years old

In [32]:
name="johnny"
age=55
print("hi {} you are {} years old".format(name,age))

hi johnny you are 55 years old

In [33]:
name="johnny"
age=55
print("hi {0} you are {1} years old".format(name,age))

hi johnny you are 55 years old

In [34]:
name="johnny"
age=55
print("hi {1} you are {0} years old".format(name,age))

hi 55 you are johnny years old

In [35]:
name="johnny"
age=55
print("hi {new_name} you are {new_age} years old".format(new_name="roman",new_age=35))

hi roman you are 35 years old

In [36]:
name="prashil"
age=21
print(f"hello {name} you are {age} yeras old")

hello prashil you are 21 yeras old

In [37]:
name="prashil"
age=21
print("hello {} you are {} yeras old".format(name,age))

hello prashil you are 21 yeras old

In [38]:
name="prashil"
age=21
print("hello {1} you are {0} years old".format(age,name))

hello prashil you are 21 years old

In [39]:
#string index

In [40]:
wall="me me me"
print(wall[0])

m

In [41]:
wall="me me me"
print(wall[1])

e

In [42]:
wall=("me me me")
print(wall[2])

In [43]:
wall="me me me"
print(wall[0:])

me me me

In [44]:
wall="me me me"
print(wall[0:8])

me me me

In [45]:
wall="me me me"
print(wall[0:2])

me

In [46]:
#when we put step size =2 it will output alternately like r="123456" ans= 135

In [47]:
wall="me me me"
print(wall[0::2])

m em

In [48]:
wall="me me me"
print(wall[0::1])

me me me

In [49]:
wall="me me me"
print(wall[0::4])

me

In [50]:
#how to reverse the string

In [51]:
wall="01223456789"
print(wall[::-1])

98765432210

In [52]:
wall="01223456789"
print(wall[::-2])

975320

In [5]:
# len fun                                                                                                                 *****

In [2]:
view=("helllloooooooooo")
len(view)

16

In [4]:
print(view[0:len(view)])

helllloooooooooo

In [7]:
run="hhhhhhhhhhhhhhhhhhhhhhhhhhhiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii"
print(run[0:len(run)])

hhhhhhhhhhhhhhhhhhhhhhhhhhhiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

In [8]:
len(run)

65

In [9]:
print(run.upper())

HHHHHHHHHHHHHHHHHHHHHHHHHHHIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII

In [11]:
print(run.capitalize())

Hhhhhhhhhhhhhhhhhhhhhhhhhhhiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

In [17]:
print(run.replace("iiiiiiiiiiiiiiiiii","h"))

hhhhhhhhhhhhhhhhhhhhhhhhhhhhhii

In [21]:
tree=("i like trees ")
print(tree.replace("like","love"))

i love trees

In [ ]:
# even though we chnaged the str but when we again print tree it will give 
#us original stored vaue or string coz string is imutable we over right them if we want but cannot chnged them.

In [22]:
print(tree)

i like trees