In [1]:
# tuple is like a list which is unmutable we cannot chnge its value... cannot reverse it or sort it

In [2]:
my_tuple=(1,2,3,4,5,6)

In [4]:
my_tuple[1]=7

TypeError: 'tuple' object does not support item assignment

In [5]:
#tuple is fastre than list

In [6]:
# tuple have only 2 primary method that we care about count() and index()

In [7]:
my_tuple=(1,2,3,4,5,6,6,6,6,6,6,6,6,6)

In [8]:
print(my_tuple.count(6))

9

In [9]:
print(my_tuple.index(1))

0

In [10]:
print(my_tuple.index(2))

1

In [12]:
print(my_tuple.index(3))

2

In [13]:
print(len(my_tuple))

14

---------------

In [14]:
#set (sets  r d unordered collection of unique objects.)

In [15]:
# set r like dict in {} bracket but no key value pair

In [16]:
set_1={1,2,3,4,5}

In [17]:
print(set_1)

{1, 2, 3, 4, 5}

In [18]:
#it only returned the unique elements of the set

In [19]:
set_1={1,2,3,4,5,5,5,5,5,5,5,5,5,56,6,6,6,6}

In [20]:
print(set_1)

{1, 2, 3, 4, 5, 6, 56}

In [26]:
# if u wanted a list which conatin repeated elements but u want to remove duplicate values and in proper sequece

In [27]:
list_1=[1,2,3,4,6,6,8,10,10,10,10,9,5]

In [28]:
print(set(list_1))

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [29]:
set_1={1,2,3,4,5,5,5,5,5,5,5,5,5,56,6,6,6,6}

In [31]:
set_2=set_1.copy

In [33]:
print(set_2())

{1, 2, 3, 4, 5, 6, 56}

In [12]:
my_set={1,6,9,4,7,3,5}
your_set={2,3,5,8,6,9}

In [20]:
#difference method (it will show the diff between 2 sets)

In [21]:
print(my_set.difference(your_set))

{1, 4, 7}

In [22]:
print(your_set.difference(my_set))

{8, 2}

In [23]:
#discard(it will remove particular element from the list )

In [24]:
print(my_set.discard(5))

None

In [25]:
print(my_set)

{1, 3, 4, 6, 7, 9}

In [26]:
#differnece_update similar elements will get remove

In [27]:
print(your_set.difference_update(my_set))

None

In [28]:
print(your_set)

{2, 5, 8}

In [29]:
#intersection method(it gives the common elements between two sets) either u can use intersection or & symbol

In [30]:
my_set={1,6,9,4,7,3,5}
your_set={2,3,5,8,6,9}

In [32]:
print(my_set.intersection(your_set))

{9, 3, 5, 6}

In [39]:
print(my_set&your_set)

{9, 3, 5, 6}

In [33]:
#isdisjoint method it tells that there is something common between 2 sets or not

In [35]:
print(my_set.isdisjoint(your_set))           # it showed false coz there r 9 ,3,5,6 common in both the sets

False

In [36]:
# union method( it used to combine two sets remove the duplicat) u can write either union or | this symbol

In [37]:
print(my_set.union(your_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
print(my_set|your_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#issubset and issuperset

In [40]:
my_set={2,5}
your_set={2,3,5,8,6,9}

In [41]:
print(my_set.issubset(your_set))

True

In [42]:
print(your_set.issuperset(my_set))

True