In [2]:
print(True==1)
print('1'==1)
print(10==10.1)
print([]==[])

True
False
False
True

In [ ]:
#is checks the value stored in the location is equal or not

In [4]:
print(True is 1)
print('1' is 1)
print(10 is 10.1)
print([] is [])

False
False
False
False

In [5]:
print([]is [])        # we get false coz diff list get diff memory location

False

In [6]:
print([]==[])

True

In [15]:
# for loop is used to repeat particular code of lines no. of times

In [16]:
# alwasys remebr that when writing for loop we can use any  data typ list,tuple.. remember one thing puting : after the loop
# otherwise u will suffer the error

In [2]:
for items in (1,2,3,5,8,9):
    print(items)
    print(items)
    print(items)
print(items)                              #due to this line in d o/p we get 4 times 5

1
1
1
2
2
2
3
3
3
5
5
5
8
8
8
9
9
9
9

In [3]:
for items in {'ram sham ghansham'}:
    print(items)

ram sham ghansham

In [4]:
for items in ['bosedk']:
    print(items)

bosedk

In [5]:
for items in (1,2,3,4,5):
    for win in ('a','b','c'):
        print(items,win)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [6]:
for items in (1,2,3,4,5):
    for win in ('a','b','c','d'):
        print(win,items)

a 1
b 1
c 1
d 1
a 2
b 2
c 2
d 2
a 3
b 3
c 3
d 3
a 4
b 4
c 4
d 4
a 5
b 5
c 5
d 5

In [31]:
user= {
    'name':"roman"
    'age':'34'
    'move':'spear'
}


for item in user:
    print(item)

SyntaxError: invalid syntax (<ipython-input-31-4647eced3999>, line 3)

In [32]:
# i was getting error since 10 min then i realise that i was not putting the , after values of keys

In [33]:
user= {
    'name':"roman",
    'age':'34',
    'move':'spear'
}


for item in user:
    print(item)

name
age
move

In [40]:
user= {
    'name':"roman",
    'age':'34',
    'move':'spear'
}


for item in user.item():
    print(item)

AttributeError: 'dict' object has no attribute 'item'

In [42]:
# items is used to diplay whole dict

In [43]:
user= {
    'name':"roman",
    'age':'34',
    'move':'spear'
}


for run in user.items():
    print(run)

('name', 'roman')
('age', '34')
('move', 'spear')

In [47]:
#o/p is coming in the form of tuple to unpack the the tuple

In [54]:
user= {
    'name':"roman",
    'age':'34',
    'move':'spear'
}


for run in user.items():
    key,value=run
    print(key,value)

name roman
age 34
move spear

In [55]:
# another shortcut method to unpack the tuple

In [57]:
user= {
    'name':"roman",
    'age':'34',
    'move':'spear'
}


for  key,value in user.items():
   
    print(key,value)

name roman
age 34
move spear

In [44]:
user= {
    'name':"roman",
    'age':'34',
    'move':'spear'
}


for run in user.keys():
    print(run)

name
age
move

In [46]:
user= {
    'name':"roman",
    'age':'34',
    'move':'spear'
}


for run in user.values():
    print(run)

roman
34
spear

In [61]:
owner={
    'rent':5000,
    'drink':"not_allowed",
    'gender':"both"
}
for key,value in owner.items():
    print(key,value)

rent 5000
drink not_allowed
gender both

In [63]:
#  we can use short form of key and value as k and v to unpack the tuple

In [62]:
owner={
    'rent':5000,
    'drink':"not_allowed",
    'gender':"both"
}
for k,v in owner.items():
    print(k,v)

rent 5000
drink not_allowed
gender both