In [1]:
print(range(100))

range(0, 100)

In [2]:
print(list(range(101)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [2]:
for num in range(0,10):
    print("Ram" " iss" " best" )

Ram iss best
Ram iss best
Ram iss best
Ram iss best
Ram iss best
Ram iss best
Ram iss best
Ram iss best
Ram iss best
Ram iss best

In [8]:
for num in range(0,10):
    print(num )

0
1
2
3
4
5
6
7
8
9

In [15]:
for num in range(10,0,-1):                                  # to print the nums in revevrse order write range like this
    print(num )

10
9
8
7
6
5
4
3
2
1

In [3]:
for num in range(10,0):                                  # if will remove the -1 frm the range o/p will be nothing
    print(num )

In [17]:
for num in range(10,0,-2):                                  # to print alternate reverse nos.
    print(num )

10
8
6
4
2

In [18]:
for num in range(0,10,2):                                  # to print alternate reverse nos.
    print(num )

0
2
4
6
8

In [21]:
for num in range(0,10):                                  # to print alternate reverse nos.
    print(list(range(0,21)) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [22]:
for num in range(2):                                  # to print alternate reverse nos.
    print(list(range(11)) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# Enumerate( it shows the index of the values) ( i,char is standard other notation will not wrk)
                                                #i =index and char= no. like 1,2,3...

In [25]:
for i,char in enumerate([1,2,3,4,5,6]):
    print(i,char)

0 1
1 2
2 3
3 4
4 5
5 6

In [26]:
for i,char in enumerate({1,2,3,4,5,6}):
    print(i,char)

0 1
1 2
2 3
3 4
4 5
5 6

In [4]:
for i,char in enumerate(list(range(11))):
    print(i,char)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10

In [42]:
view=(range(0,10))
print(view.index(5))          #if i want toknow the indexx of 5 th element

5

In [29]:
#or another method to see the index of 5

In [41]:
for i,char in enumerate(list(range(0,10))):
    if char==5:
        print(f" index of 5:{i}")

 index of 5:5